<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Message Board</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional Bootstrap theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script>
		function validateMessage() {
			var file = document.forms["messageForm"]["file"].value;
			var name = document.forms["messageForm"]["name"].value;
			var message = document.forms["messageForm"]["message"].value;
			var errorMsg = document.getElementById("errorMessage");
			if (!file) {
				errorMsg.style.visibility = 'visible';
				errorMsg.innerHTML = 'Please enter a valid file!';
				return false;
			} else {
				errorMsg.style.visibility = 'hidden';
			}
			if (!name) {
				errorMsg.style.visibility = 'visible';
				errorMsg.innerHTML = 'Please enter a valid name!';
				return false;
			} else {
				errorMsg.style.visibility = 'hidden';
			}
			if (!message) {
				errorMsg.style.visibility = 'visible';
				errorMsg.innerHTML = 'Please enter a valid message!';
				return false;
			} else {
				errorMsg.style.visibility = 'hidden';
			}
		}
	</script>

</head>

<body>

	<div class="container">

		<div class="jumbotron">
			<h1>Message Board</h1>

		</div>

		<div class="errorContainer">
			<p id="errorMessage" style="visibility:hidden; color:red;"> msg </p>
		</div>
		<form action="/api/messages" method="POST" enctype="multipart/form-data"
			onsubmit="return validateMessage()" name="messageForm">
			<table class="formTable" style="display: table;">
			<tbody>
				<tr>
					<td> Name </td>
					<td>
		  			<input type="text" placeholder="name" name="name" tabindex="2">
					</td>
				</tr>

				<tr>
					<td> Message </td>
					<td>
		  			<textarea name="message" cols="48" rows="4" wrap="soft" tabindex="4"></textarea>
					</td>
				</tr>

				<tr>
					<td> File </td>
					<td>
						<input type="file" name="file">
					</td>
				</tr>

				<tr>
					<td>
		  			<button type="submit">Submit</button>
					</td>
				</tr>

		</tbody>
	</table>
		</form>

		<div class="messages">

		<% for(var i=0; i<messages.length; i++) {%>
	    <div class="row">
				<div class="col-xs-2">
	      	<span> <strong> <%= messages[i].name %> </strong> </span>
				</div>

				<div class="col-xs-2">
					<span><%= messages[i].message %></span>
				</div>

				<div class="col-xs-2">
					<% if (messages[i].filepath) {%>
						<span><img src= <%= messages[i].filepath %> style="max-height:150px; max-width:150px;
    			height:auto;width:auto;"> </span>
					<%} %>
				</div>
			</div>
			<hr>
	  <% } %>
	</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
